body{
    background-color: #ffffff;
}

.hero{
    margin-top: 50px;
    /*height: 70vh; 70% of viewport height*/
    overflow: hidden;
}

.gallery-item img{
    transition: transform 0.1s ease-out;
}

.gallery-item img:hover{
    transform: scale(1.09);
}

.navbar-brand{
    color: #C1521C;
    text-shadow: 5cm;

}

headering{
    width: 80%;
    height: 90vh;
    object-fit: cover;
}